#background {
    background: linear-gradient(0deg, red, orange, yellow, green, blue, purple);
     background-size: 400% 400%; 
    height: 100vh;
    animation: x 8s ease; 
    animation-iteration-count: infinite;
}

@keyframes x {
    from { 
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 50%;
    }

    to {
        background-position: 0% 100%;
    }
}
